html, body{
    margin: 0px;
    background-color: rgb(243, 239, 231);
    color: rgb(71, 53, 25);
    text-align: center;
    position: relative;
    font-size: 1em;
}

.header{
    font-size: 3em;
    border-bottom: 1px solid rgb(30,30,30);
    padding: 20px;
    margin: 0px;
}

.headerBar {
    border-bottom: 1px solid rgb(30,30,30);
}

.mainContent{
    border-bottom: 1px solid rgb(30,30,30);
    padding: 45px;
    margin: 0px;
}

.btn{
    border: 2px solid rgb(30,30,30);
    border-radius: 5px;
    background-color: rgb(207, 205, 200);
    color: rgb(71, 53, 25);
    margin: 5px;
    padding: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.input{
    margin-bottom: 3px;
}

.errorMsg{
    color: red;
}