body{
    background-color: green;
}

#root{
    margin: 30px;
}

.cell {
    float: left;
    background: white;
    border: 1px solid gray;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-right: -1px;
    margin-top: -1px;
}

.index {
    float: left;
    font-size: 12px;
    text-align: center;
    width: 30px;
    border: 1px solid transparent;
    margin-right: -1px;
    margin-top: -1px;
}


.cell-row:after {
    clear: both;
    content: "";
    display: table;
}


.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}


.btn {
    width: 90px;
    background-color: rgb(207, 205, 200);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
