body {
    background-color: green;
}

#root {
    margin: 30px;
}

.gameBtn {
    height: 50px;
    background-color: rgb(207, 205, 200);
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.btnPart {
    display: inline-flex;
}

.btn {
    width: 90px;
    height: 20px;
    background-color: rgb(207, 205, 200);
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.question {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}