html, body {
    margin: 0px;
    background-color: rgb(243, 239, 231);
    color: rgb(71, 53, 25);
    text-align: center;
    font-size: 1.2em;
}


.card {
    margin: 20px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.selectedCard{
    box-shadow: 10px 10px 30px 1px blue;
}

.outputMessage{
    background-color: green;
    color: black;
}

.backcover:hover{
    box-shadow: 10px 10px 30px 1px yellow;
}

.fakeLink{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}